@model Cumulative1.Models.Course
<a href="/CoursePage/ListCourses">Return to Courses</a>
<h1>@Model.CourseName @Model.CourseCode</h1>

<h2>Course Id</h2>
<p>@Model.CourseId</p>

<h2>Course Code</h2>
<p>@Model.CourseCode</p>

<h2>Course Start Date</h2>
<p>@Model.CourseStartDate</p>

<h2>Course End Date</h2>
<p>@Model.CourseEndDate</p>


