@model Cumulative1.Models.Student
<a href="/StudentPage/ListStudent">Return to Students</a>
<h1>@Model.StudentFName @Model.StudentLName</h1>
<h2>Student Id</h2>
<p>@Model.StudentId</p>
<h2>Student Number</h2>
<p> @Model.StudentNumber</p>
<h2> Enrolment Date</h2>
<p> @Model.StudentEnrolDate.ToString("yyyy-M-d")</p>